div(class="wrapper-game-info")
  div(class="game-info")
    div(class="game-info__score")
      span(class="game-info__score__number")  0 
      span(class="game-info__score__text") pontos

    div(class="game-info__timer")
      span(class="game-info__timer__number") 0 
      span(class="game-info__timer__text") de tempo decorrido
      
    div(class="game-info__moves")
      span(class="game-info__moves__number") 0  
      span(class="game-info__moves__text") jogadas