@font-face {
  font-family: 'PlayfairDisplay';
  src: url(./assets/fonts/PlayfairDisplay-BlackItalic.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(./assets/fonts/MontserratAlternates-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url(./assets/fonts/MontserratAlternates-Light.ttf);
}