@import 'scss/fonts';

$title-font: 'PlayfairDisplay';
$default-font: 'Montserrat';
$default-font--bold: 'Montserrat-Bold';
$default-font--light: 'Montserrat-Light';

$primary-g-color: #a7f442;
$secondary-g-color: #5aaf24;
$primary-g-color-other: #8C837A;
$secondary-g-color-other: #726459;

$transition-duration: 0.3s;